@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-serif);
  font-weight: 600;
  color: var(--dark-green);
  margin: 0;
}

h1 {
  font-size: clamp(2.25rem, 5vw, 4.5rem);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

h5 {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
}